@namespace"http://www.w3.org/1999/xhtml";
html {
	background:#111!important
}
html * {
	background-color:#0034540!important;
	color:#bbb!important;
	border-color:#111!important;
	border-width:0!important
}
html a, html a * {
	color:#5c8599!important;
/*	text-decoration:underline!important */
}